<%- include('../partials/header.ejs') %>

<h1>My Word Shelf</h1>
<img src="https://img.freepik.com/free-vector/lovely-flat-characters-speaking-different-languages_23-2147872797.jpg?uid=R58614155&ga=GA1.1.2074067618.1746232011&semt=ais_hybrid&w=740" alt="Word Shelf Banner" style="height: 200px;width: 350px">
<% if (words.length){ %>
    <% words.forEach((word) => { %>
        <h2>
            <ul>
            <li><a href="/words/<%= word._id %>"><%= word.name%></a></li>   
           </ul>
        </h2>    
   <% }); %>

<% } else {%>
    <p>Add to Shelf</p>

<% } %>

<button type="submit"><a href="/words/new">Add Word</a></button>
<%- include('../partials/footer.ejs') %>