<%- include('../partials/header.ejs') %>

<h1>My Word Shelf</h1>
<% if (words.length){ %>
    <% words.forEach((word) => { %>
        <h2>
            <ul>
            <li><a href="/words/<%= word._id %>"><%= word.name%></a></li>   
           </ul>
        </h2>    
   <% }); %>

<% } else {%>
    <p>Add to Shelf</p>

<% } %>

<button type="submit"><a href="/words/new">Add Word</a></button>
<%- include('../partials/footer.ejs') %>