<%- include('../partials/header.ejs') %>

<h1>My Word Shelf</h1>
<img src="/css/shelfbanner.jpg" alt="Word Shelf Banner" style="height: 200px;width: 350px">
<% if (words.length){ %>
    <% words.forEach((word) => { %>
        <h2>
            <ul>
            <li><a href="/words/<%= word._id %>"><%= word.name%></a></li>   
           </ul>
        </h2>    
   <% }); %>

<% } else {%>
    <p>Nothing in Your Shelf!</p>

<% } %>

<button type="submit"><a href="/words/new">Create a Word</a></button>
<%- include('../partials/footer.ejs') %>