<%- include('../partials/header.ejs') %>

<h1>Add Word</h1>
<form action="/words" method="POST">
    <div>
        <label for="word">Word:</label>
        <input type="text" id="word" name="name" required>
    </div>
    <div>
        <label for="explanation">Explain it in your home language:</label>
        <input type="text" id="explanation" name="explanation" required>
    </div>
    <div>
        <label for="image">You can add a Image URL(optional):</label>
        <input type="url" id="image" name="image" placeholder="https://example.com/image.jpg">
    </div>

    <button type="submit">Add Word</button>
</form>

<%- include('../partials/footer.ejs') %>